html{
    font-size: 75.5%;
}

body{
    padding: 0;
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(107, 15, 33);
    background-image: linear-gradient(to bottom, rgb(226, 104, 129) , rgb(252, 215, 225));
}

.seccion_productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em;
    gap: 2em;
    /*border: 0.2em dashed rgb(0, 68, 255);*/

}

.producto{
    border: 0.2em solid rgb(212, 74, 102);
    box-shadow: 0.2em 0.2em 0.2em rgb(188, 78, 100);
    max-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.producto img{
    max-width: 100%;
    height: 40%;
    object-fit: cover;
    box-shadow: 0.3em 0.2em 0.3em rgb(226, 104, 129);
}


.precio{
    font-weight: 900;
}

.producto button:hover{
    background-color: rgb(226, 104, 129);
    color: rgb(255, 255, 255);
}

.carrusel{
    background-image: radial-gradient(ellipse, rgb(226, 104, 129), rgb(252, 186, 204));
    display: flex;
    gap: 4em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.op{
    border: 0.2em solid rgb(212, 74, 102);
    box-shadow: 0.2em 0.2em 0.2em rgb(188, 78, 100);
    padding: 0.2em;
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: end;
}