htmL{
    font-size: 60.5%;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom, rgb(251, 216, 143), rgb(198, 118, 13));
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(155, 35, 35);
    height: 600vh;
}

#encabezado{
    border: 0.2em outset rgb(189, 87, 36);
    position: sticky;
    top: 5em;
    width: 99.5%;
    
}

#encabezado h1{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 0.5em;
    left: 35%;
    bottom: 1.5em;
    color: rgb(128, 58, 15);
}

.contenedor-logo{
    width: 10%;
    height: 10em;
    /* border: 0.1em dashed rgb(213, 139, 41); */
    /* border-radius: 50%; */
}

.contenedor-logo img{
    width: 15em;
    height: 15em;
    /*min-width: 4em, max-width*/
    /*min-height, max-height*/
    object-fit: cover;
    background-color: rgb(182, 112, 27);
    object-position: center;
    border: 0.7em outset rgb(221, 146, 41);
    /*object-position: (top, left, right)*/
    border-radius: 50%;
}

.elementos--posicionados{
    border: 2em solid orange;
    padding: 0.3em;
    position: relative;
    
}

.contenedor--imagen{
    width: 15em;
    height: 35em;
    /* border: o.1em dashed rgb(235, 212, 148); */
}

.contenedor--imagen img{
    width: 150%;
    height: 90%;
    object-fit: contain;
}

.imagen--conejo{
    position: relative;
    top:15em;
    left: 50em; 
    z-index: 10;
}

.imagen--gatocalabaza{
    position: absolute; 
    top: 35%;
    left: 10em;
    z-index: 3;
}

.imagen--gatofantasma{
    position: relative;
    left: 19em;
    z-index: 40;
}

.imagen--yoongi{
    position: absolute;
    left: 40em;
}

.imagen--conejo img{
    filter: blur(4px);
}

.imagen--gatocalabaza img{
    filter: grayscale(0.8);
}

.imagen--gatofantasma img{
    filter: contrast(3);
}

.imagen--yoongi img{
    filter: invert(4);
}


/*filter
Permite la manipulacion de imagenes ofreciendo una gama de efectos como:
blur(): aplica desenfoque
brighness(): ajusta el brillo de un elemento
contrasr(): modifica el contraste
grayscale(): convierte el elemento a escala de grises
invert(): invierte los colores del elemento
sepia(): aplica un efecto de tono sepia al elemento*/