html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom, rgb(165, 218, 249), rgb(29, 108, 164));
}

#encabezado{
    border: 0.2em solid white;
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    justify-content: center;
    align-items: center;
}

#encabezado img{
    width: 70%;
    height: 70%;
    aspect-ratio: 1 / 0.8;
    border-radius: 50%;
    object-fit: cover;
}

h1{
    font-size: 3em ;
    text-align: center;
}

#navegacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.3em;
    gap: 0.3em;
}

#navegacion a{
    padding: 0.3em;
    text-decoration: none;
    text-shadow: 0.2em 0.2em 0.1em rgb(173, 209, 240);
    font-size: 1.3em;
    color: rgb(70, 162, 208);
    background-color: rgb(227, 243, 252);
    border-radius: 40%;
    text-align: center;
}

#contenedor-noticias{
    border: 0.1em solid rgb(33, 82, 137);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
}

.noticias{
    border: 0.1em solid rgb(33, 75, 158);
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.noticias h2{
    grid-column: 1 / 4;
    text-align: center;
    align-content: center;
}

.noticia{
    border: 0.2em solid rgb(148, 209, 240);
    box-shadow: 0.2em 0.2em 0.2em rgb(62, 115, 146);
    align-content: center;
    text-align: center;
}

.noticias-urgentes{
    border: 0.2em solid rgb(148, 209, 240);
    grid-column: 5 / 7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 30em;
    overflow-y: auto;
}

.noticias-urgentes h2{
    text-align: center;
    align-content: center;
    padding: 0.5em;
    position: sticky;
    top: 0;
    background-color: rgba(148, 209, 240); 
}

/* .noticias-urgentes .contenido-scroll{
    overflow-y: auto;
} */

.noticia-u{
    border: 0.2em solid rgb(148, 209, 240);
    box-shadow: 0.2em 0.2em 0.2em black;
    align-content: center;
    text-align: center;
    height: 40em;
}

#pie-pagina{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "contact derechos direccion";
    gap: 1.6rem;
    padding: 2rem;
    border-top: 0.1em solid rgba(148, 209, 240);
    background-color: rgba(124, 184, 214, 0.582);
    align-items: start;
}

#pie-pagina .contacto{
    grid-area: contact;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: start;
}

#pie-pagina .derechos-autor{
    grid-area: derechos;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    justify-self: center;
}

#pie-pagina .direccion{
    grid-area: direccion;
    align-self:flex-start;     
    justify-self: end;      
    margin: 0;
}

#pie-pagina .contacto a{
    text-decoration: none;
    padding: 0.4rem 0.6rem;
    border-radius: 0.6rem;
    background-color: rgb(255, 255, 255);
    display:inline-block;
    font-size: 1.1rem;
}