#encabezado{
    color: rgb(252, 252, 227);
    background-color: rgb(69, 78, 130);
    height: 80px;
    /*El relleno es el espacio entre el contenido de un elemento y su borde*/
    /*Se aplican las propiedades en sentido horario: top, right, bottom y left*/
    padding: 30px 20px 40px;
    /* Es el espacio entre el borde de un elemento con los demás elementos HTML*/
    margin: 10px 15px 10px;

    /* El borde es el contorno visual alrededor de nuestro relleno y contenido
    un elemento
    Valores posibles para border-style:
    (solid, dotted, dashed, double, groove, ridge, inset, outset, hidden y none);*/

    border: 12px double bisque;
    border-left-style: solid;
    border-radius: 50%;
    /*Se puede utilizar para crear efectos de sombra alrededor del borde de un elemento,
    se deden especificar los valores para el desplazamiento horizontal,
    desplazamiento vertical, radio de desenfoque, radio de propagacion y color*/
    box-shadow: -5px 10px 10px 5px rgb(181, 203, 245);
    /*border box se utiliza para que rellenos, margenes y bordes no agreguen espacio
    extra a lo que se declaro en el ancho y alto de nuestro contenedor*/
    box-sizing: content-box;
}

.introduccion{ 
    color:rgb(151, 111, 9);
    background-color: bisque;
    height: 250px;
    padding: 10px;
    margin: 10px;
    border: 5px groove rgb(100, 113, 187);
    box-shadow: 5px 5px 10px 5px rgb(246, 231, 174);
    box-sizing: border-box;
}

.introduccion p{
    border: 1px double rgb(92, 92, 247);
    height: 50px;
    width: 600px;
    padding-top: 10px;
    box-sizing: border-box;
}

.introduccion span{
    border: 2px double rgb(28, 24, 142);
    height: 100px;
    padding-top: 10px;
    box-sizing: border-box;
}